.navigation{
    margin: 12px 12px 0px 0px;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40vh;
    height: 100%;
    align-content: flex-start;
    align-items: baseline;
/*    box-shadow: rgba(64, 65, 66, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
*/
box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
border-radius: 10px;
}

nav ul{
    display:flex;
    list-style: none;
    padding: 0px;
    flex-direction: column;
    width: inherit;
}

nav ul li{
    padding: 10px;
}

nav ul li:hover{
    background: linear-gradient(135deg, #07a7e3 0%, #32dac3 100%);
    border-radius: 10px;
    font-size: 1.5rem;
}